@font-face {
    font-family: 'Pacifico';
    src: url('../fonts/Pacifico-Regular.ttf');
}
@font-face {
    font-family: 'Roboto Medium';
    src: url('../fonts/Roboto-Medium.ttf');
}
.root {
  -fx-font-size: 16px;
  -fx-font-weight: 600;
  -fx-text-fill: white;
  -fx-font-family: "Roboto Medium";
}
#main_panel {
    -fx-background-color: #8ECAE6;
}
.login_title, .login_title2{
    -fx-font-family: "Pacifico";
    -fx-text-fill: #FB8500;
    -fx-font-size: 100px;
    -fx-font-weight: 800;
    -fx-effect: dropshadow(three-pass-box, black, 10, 0.5, 5, 0);
}
.login_title2{
     -fx-text-fill: #F72585;
}
.input_Style, .button_style{
     -fx-font-size: 18px;
     -fx-border-radius: 5px;
     -fx-border-width: 2px;
     -fx-border-color: grey;
     -fx-background-radius: 5px;
     -fx-background-color: rgba(0, 0, 0, 0.9);
     -fx-text-fill: white;
}
.button_style:hover {
    -fx-background-color: linear-gradient(to right, rgba(0, 0, 0, 0.9), white,  rgba(0, 0, 0, 0.9));
    -fx-text-fill: black;
}
.footer_text{
    -fx-font-size:14px;
    -fx-text-fill: black;
}