@font-face {
    font-family: 'Roboto Medium';
    src: url('../fonts/Roboto-Medium.ttf');
}
.root {
  -fx-font-size: 16px;
  -fx-font-weight: 600;
  -fx-text-fill: white;
  -fx-font-family: "Roboto Medium";
}
.tableBg {
    -fx-background-color: #8ECAE6;
}
.tab {
    -fx-background-color: white;
}
.tab .tab-label {
    -fx-text-fill: black;
}
.tab:selected .tab-label {
    -fx-text-fill: #FB8500;
}
.tab:selected {
    -fx-background-color: black;
}
.tableColumn {
     -fx-background-color: #8ECAE6;
     -fx-border-color: black;
     -fx-border-width: 1;
}
.table-row-cell:selected .table-cell {
    -fx-background-color: rgba(255,255,255,0.8);
    -fx-text-fill: black;
}
.button_class {
    -fx-font-size: 18px;
    -fx-border-radius: 20px;
    -fx-background-radius: 20px;
    -fx-background-color: rgba(255,255,255,0.8);
    -fx-text-fill: black;
}
.button_class:hover {
    -fx-background-color: #FB8500;
    -fx-text-fill: black;
}
.footer_text{
    -fx-font-size:16px;
    -fx-text-fill:rgba(0, 0, 0, 0.9);
}