@font-face {
    font-family: 'Roboto Medium';
    src: url('../fonts/Roboto-Medium.ttf');
}
.root {
  -fx-font-size: 16px;
  -fx-font-weight: 600;
  -fx-text-fill: white;
  -fx-font-family: "Roboto Medium";
}
.tableBg {
    -fx-background-color: white;
}
.tab {
    -fx-background-color: white;
}
.tab .tab-label {
    -fx-text-fill: black;
}
.tab:selected .tab-label {
    -fx-text-fill: white;
}
.tab:selected {
    -fx-background-color: black;
}
.tableColumn {
     -fx-background-color:#219EBC;
     -fx-border-color: black;
     -fx-border-width: 1;
}
.button_class {
    -fx-font-size: 18px;
    -fx-border-radius: 5px;
    -fx-border-width: 2px;
    -fx-border-color: grey;
    -fx-background-radius: 5px;
    -fx-background-color: rgba(0, 0, 0, 0.9);
    -fx-text-fill: white;
}
.button_class:hover {
    -fx-background-color: #FB8500;
    -fx-text-fill: black;
}