@font-face {
    font-family: 'Roboto Medium';
    src: url('../fonts/Roboto-Medium.ttf');
}
@font-face {
    font-family: 'Roboto Bold';
    src: url('../fonts/Roboto-Bold.ttf');
}
@font-face {
    font-family: 'Pacifico';
    src: url('../fonts/Pacifico-Regular.ttf');
}
.root {
  -fx-font-size: 16px;
  -fx-font-weight: 700;
  -fx-text-fill: black;
  -fx-font-family: "Roboto Medium";
}
#main_panel, .image_pane {
    -fx-background-color: rgba(0, 0, 0, 0.9);
}
.paneContent{
    -fx-background-color: #219EBC;
    -fx-border-width:2px;
    -fx-border-color:grey;
}
.title {
   -fx-font-family: "Roboto Bold";
   -fx-text-fill: white;
   -fx-font-size: 90px;
   -fx-font-weight: 700;
   -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.9), 5,0.4,6,2);
}
.button_style{
        -fx-font-size: 18px;
        -fx-border-width: 0;
        -fx-border-radius: 0px;
        -fx-background-radius: 20px;
        -fx-background-color: rgba(0, 0, 0, 0.9);
        -fx-text-fill: #FB8500;
}
.button_style:hover{
       -fx-background-color: #FB8500;
       -fx-text-fill: black;
}
.textarea_style {
     -fx-border-width: 2px;
     -fx-border-color: grey;
}
.label_style{
    -fx-font-size:16px;
    -fx-text-fill:rgba(0, 0, 0, 0.9);
}
.comb_style{
     -fx-font-size: 16px;
     -fx-border-width: 2px;
     -fx-border-color: grey;
     -fx-background-radius: 5px;
     -fx-background-color: white;
     -fx-text-fill: black;
}
.footer_text{
    -fx-font-size:16px;
    -fx-text-fill:rgba(0, 0, 0, 0.9);
}